# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Misc
.DS_Store
.vscode
Sandbox.cpp
Sandbox

#exclude binaries in folders
LearnCpp/*
!LearnCpp/*.cpp
!LearnCpp/*.md
!LearnCpp/12_MultiFile
LearnCpp/12_MultiFile/main
!LearnCpp/15_add.h
!LearnCpp/16_ch2q

Tutorial1/*
!Tutorial1/*.cpp
!Tutorial1/*.md
Tutorial1/tempCodeRunnerFile.cpp

LoginApp/*
!LoginApp/*.cpp
!LoginApp/*.md

Exercism/*
!Exercism/*.cpp
!Exercism/*.md
gradeschool-template.cpp
allergies-test.cpp

Snippets/*
!Snippets/*.cpp
!Snippets/*.md
!Snippets/headers
Snippets/headers/main

make_test/build
